@import "../../../styles/_colors.sass"

@mixin sunk
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, .5), inset 1px 1px 3px 1px rgba(40, 0, 0, .5), inset -1px -1px 2px 1px rgba(40, 150, 150, .10), inset -1px -1px 3px 1px rgba(40, 150, 150, .10)

@mixin raised
    box-shadow: inset -1px -1px 2px 1px #000000bf, inset -1px -1px 3px 1px #000000bf, inset 1px 1px 1px 1px #28969633, inset 1px 1px 2px 1px #28969633

#available-parents
    width: fit-content
    margin: 5px auto
    display: flex
    flex-direction: row
    padding: 0px
    justify-content: center
    justify-items: stretch
    justify-content: space-evenly

.btn-maybe-parent
    @include raised
    width: 40px
    height: 30px
    margin: auto 0px

    color: $blue-light
    color: #bbb
    border: 1px solid $blue-opaque

    cursor: pointer
    font-size: 14px
    padding-top: 4px
    text-align: center
    background: transparent
    transition: all .5s ease

    &:disabled
        opacity: .3

    &:hover
        background-color: #0f1b37

    &[data-selected=true]
        @include sunk

.btn-maybe-parent[title="reinforced"]
    background-color: #dae950

.selected
    @include sunk
