@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Lato&family=Open+Sans&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Josefin+Sans&family=Lato&family=Open+Sans&display=swap')

@import '../../styles/_colors'

$timelineWidth: 100%
$leftMargin: 10%
$itemWidth: 75%

// research trajectory: #ff0000d0

// $timelineBackground: #11775e
// $contentBackground: #5a7e74

// $timelineBackground: #dff5d7
// $contentBackground: #d7f5ed

// $timelineBackground: #fbffff
// $contentBackground: #dff5d7

// $timelineBackground: #02382a
// $contentBackground: #02382a

// $timelineBackground: #083c5d
// $contentBackground: #31271d

// $timelineBackground: #274235
// $contentBackground: #274235

.timeline
    width: $timelineWidth
    position: relative
    padding-top: 1rem
    padding-bottom: 1rem
    // background-color: $blue-whale

//LINE:
.timeline::after
    left: $leftMargin
    margin-left: 12px
    // margin-left: 1%

    width: 1px
    top: 0
    bottom: 0

    content: ""
    position: absolute
    // background-color: #222333
    background-color: #168d6f
    // opacity: 0

// ITEM:
.timeline .item
    width: $itemWidth
    left: $leftMargin
    position: relative
    text-align: left
    margin: 150px 0px
    padding: .5rem .5rem .5rem 50px

    // DATE:
    &::before
        z-index: 1
        content: attr(content1)

        left: -7rem
        top: 2rem
        width: 7rem
        padding: .2rem 1rem
        position: absolute
        text-align: center
        font-size: 1rem
        font-weight: 700
        color: #299d80bb

    // CIRCLE:
    &::after
        content: ''
        left: 4px
        top: 2.5rem

        width: 16px
        height: 16px

        z-index: 1
        position: absolute
        font-family: Roboto
        border-radius: 50%
        background-color: #67d2b7

    // CONTENT:
    .itemContent
        width: 100%
        background-color: $blue-whale
        padding: .5rem .5rem 1rem .5rem
        display: flex
        flex-direction: column

/** 
 
 RESEARCH STUDY: 

    **/

/** 
 
 ACADEMIC MILESTONE: 

    **/

// .timeline .item:first-child
//     background-color: #5e64ac

// .timeline .item:last-child
//     background-color: #5e64ac

.timeline .item:nth-child(6) .itemContent .rowImages .imgWrapper
    margin: .5rem
    opacity: .10
    border: 1px solid orange
    transition: all .2s ease-in
    -webkit-transition: all .2s ease-in
    -moz-transition: all .2s ease-in
    -ms-transition: all .2s ease-in
    -o-transition: all .2s ease-in

    &:hover
        opacity: .8
        cursor: pointer
        transition: all .2s ease-in
        -webkit-transition: all .2s ease-in
        -moz-transition: all .2s ease-in
        -ms-transition: all .2s ease-in
        -o-transition: all .2s ease-in

.timeline .item:nth-child(10) .itemContent .rowImages
    justify-content: space-around

.timeline .item:nth-child(10) .itemContent .rowImages .imgWrapper
    margin: .5rem
    opacity: .10
    transition: all .2s ease-in
    -webkit-transition: all .2s ease-in
    -moz-transition: all .2s ease-in
    -ms-transition: all .2s ease-in
    -o-transition: all .2s ease-in

    &:hover
        opacity: .8
        cursor: pointer
        transition: all .2s ease-in
        -webkit-transition: all .2s ease-in
        -moz-transition: all .2s ease-in
        -ms-transition: all .2s ease-in
        -o-transition: all .2s ease-in

.timeline .item:nth-child(10) .itemContent .rowImages .imgWrapper .img
    width: 170px
    height: 120px
    transition: all .2s ease-in
    -webkit-transition: all .2s ease-in
    -moz-transition: all .2s ease-in
    -ms-transition: all .2s ease-in
    -o-transition: all .2s ease-in

    &:hover
        scale: 2
        transition: all .2s ease-in
        -webkit-transition: all .2s ease-in
        -moz-transition: all .2s ease-in
        -ms-transition: all .2s ease-in
        -o-transition: all .2s ease-in

.timeline .item:nth-child(3):before
    top: 35px

.timeline .item:nth-child(5):before
    top: 35px

.timeline .item:nth-child(7):before
    top: 35px

.timeline .item:nth-child(2):after
    border: 1px solid #000
    background-image: url('../../assets/icon_graduation_yellow2.png')

    width: 40px
    height: 40px
    left: -8px
    top: 25px

.timeline .item:nth-child(5):after
    border: 1px solid #000
    background-image: url('../../assets/icon_graduation_yellow2.png')
    width: 40px
    height: 40px
    left: -8px
    top: 25px
