@import "../../styles/_colors.sass"

$clr_purple: #fcb3ff
$clr_blue1: #b8b3ff
$clr_yellow1: #f9ffb3
$clr_blue2: #71b6ff
$clr_yellow1: #dff118ea
$python_blue: #95cfff
$python_blue: #616161

// ---------------------------------------------------

.div-inset-txt-before
    background-color: #transparent
    width: 300px
    border: 1px solid red
    font-family: Montserrat
    display: flex
    flex-direction: row
    width: 800px
    margin: auto
    text-align: center

    h3
        font-weight: 900
        font-size: 16px
        margin: auto
        width: fit-content
        background-color: #083030
        color: transparent
        text-shadow: 2px 2px 3px a1c9c982
        -webkit-background-clip: text
        -moz-background-clip: text
        background-clip: text

// ---------------------------------------------------

.divDetails
    margin: 0px
    font-size: 11px
    //font-size: 12px
    display: flex
    flex-direction: row

    text-align: left
    width: 100%
    color: #19f8e2
    opacity: .6

    &:hover
        opacity: 1

// ---------------------------------------------------

#teachingSection
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: row
    justify-content: center
    background-color: $blue-charcoal
    padding: 50px

// ==================================================  2.27.2022

.sub-section-header
    width: 100%
    text-align: left
    color: #31D1B3
    font-family: Montserrat
    margin: auto
    margin-bottom: 30px
    padding-bottom: 10px
    border-bottom: 1px dotted teal

    h1
        color: #31D1B3
        font-size: 13px
        margin: 0px
        font-weight: 500

    h2
        font-size: 11px
        margin: 0px
        color: #aaa

    h3
        font-size: 11px
        margin: 0px
        color: #aaa

.sub-section-body
    width: 100%
    text-align: center
    font-family: Montserrat
    padding-top: 20px
    font-size: 12px
    color: #aaa

// ==================================================

.teachingCards
    //width: 600px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    background-color: transparent
    margin: auto
    margin-top: 20px

    .card
        margin-bottom: 20px
        width: 300px
        border: 0px dotted yellow
        color: #444
        background-color: transparent

        &:hover
            opacity: 1

        .title
            color: #31D1B3
            color: #ff9900
            padding: 0px
            margin: 0px
            font-weight: 500
            font-family: Montserrat
            font-size: 13px
            text-align: left

// #teachingDetails
//     cursor: pointer
//     font-size: 12px
//     width: 100px

//     color: #31D1B3
//     background-color: transparent
//     border: 1px solid #19f8e2
//     opacity: .7
//     box-shadow: inset 1px 1px 4px #31D1B3
//     box-shadow: inset 1px 1px 4px #08443930
//     box-shadow: inset 1px 1px 4px #0821446a
//     box-shadow: inset 1px 1px 4px #0a99ff6a
//     box-shadow: inset 1px 1px 4px #6c6c6c6a

//     transition: all .3s
//     //letter-spacing: 3px
//     margin: 0px

//     &:hover
//         opacity: 1
//         box-shadow: inset 2px 2px 15px #31D1B3
