
$timelineBackground: #274235
$contentBackground: #274235

$svgLightGreen: #446b58
//$svgLightGreen: #446b587e

//$svgLightGreen222: #565f5b
// $svgLightGreen222: #565f5b94
$svgLightGreen222: #57726580

// #02AAB0 - Andrei Popa color, the light-ush cyan.
$color1: 'rgb(255, 128, 49)'
$color2: 'rgb(28, 255, 28)'
$colorE: 'rgb(105, 179, 162)'

$color11: 'rgb(255, 128, 49)'
$color22: 'rgb(10, 136, 10)'
$colorE: 'rgba(105, 179, 162, 0.522)'

// background-color: #628078  // silver tongue, nice

// #2d816efc
$PortlandOrange_: #FF652F  // Portland Orange
$VividYellow: #FFE400    // Vivid yellow
$Jade: #14A76C  // Jade
$Jade1: #14a76ca4  // Jade1

$JadeLight: #05F4B7

$JadeLight1: #05f4b848
$JadeLight11: #9cfae248

$daisy: #fffe7a
$background-color1: #1B4D3E
$background-color11: #0e362a
$background-color111: #6e1313af

$background-color2: #02aab0

// about    
$lightCyan: #59ebf0
$specialColor: #02aab0
$specialColor1: #03767a
$specialColor2: #1B4D3E
$specialColor3: #45a085

    
//  NEW  NAMES
$light-color: #e5e5e5
$light-color: #fff

$dark-color: #02aab0
$dark-color1: #075E61

$dark-color11: #003F43
//
$dark-color3: #003F43
$dark-color4: #969696

$darkest-color: #002022

//------------------------------------------   from chapter.sass:
//  NEW  NAMES
// $light-color: #e5e5e5
// $dark-color: #02AAB0
// $dark-color1: #075E61
    
// $dark-color2: #023638
// $dark-color3: #001e1f


// -----------------------------  new, after june 17:

$text-chapter: #d6d6d6
//$text-chapter: #05444f

//--------    matching   --------

// .color1
//     color: rgb(255, 128, 49)

// .color2
//     color: rgb(28, 255, 28)
//     color: rgba(28, 255, 28, 0.616)
//     color: #1e9b1e
//     color: #0c6e0c    