
.divLinks
    align-self: flex-end
    display: flex
    flex-direction: row
    justify-content: flex-start
    width: 100%
    flex-wrap: wrap
    padding: .1rem
    margin-top: .5rem
    margin-bottom: .5rem
    //background-color: #0747378c
    //background-color: #0747378c

    > button
        color: #fff
        padding: .1rem .2rem
        margin: 0.1rem .3rem 0.1rem 0rem
        font-family: Verdana, Geneva, Tahoma, sans-serif
        font-size: .8rem
        //background-color: transparent
        //background-color: #0747378c
        //background-color: #0d3a52a2
        cursor: pointer
        background-color: #a9e4d563

        border: 1px solid #0d3a52a2
        font-size: 1rem
        border: 1px solid #eee
        padding-left: .5rem
        padding-right: .5rem

        &:hover
            cursor: pointer
            background-color: #0c3048
            transition: all 0.2s ease-in-out
            -webkit-transition: all 0.2s ease-out
            -moz-transition: all 0.2s ease-out
            -ms-transition: all 0.2s ease-out
            -o-transition: all 0.2s ease-out



