
.divSkills
    width: 550px
    max-width: 100%
    margin-top: .2rem
    margin-bottom: .5rem
    display: flex
    flex-direction: row
    flex-wrap: wrap
    padding: .1rem
    justify-content: stretch

.divSkills label
    font-family: Roboto
    font-size: .9rem
    font-weight: 400
    text-align: center
    padding: .3rem .9rem
    margin: .2rem
    border-radius: .5rem
    color: #fff
    background: rgb(20, 33, 61)
    opacity: .8

    &:hover
        color: yellow
        opacity: 1
        