
@import './_variables'

// $light-color: #fff
// $dark-color: #02aab0
// $dark-color1: #075e61

.fullscreen
    width: 100%
    min-height: 100vh
    height: auto
    display: flex
    flex-direction: column
    padding-top: 3rem
    justify-content: center

    // transition: ease-in
    // transition-duration: 3s
    font-family: Roboto



.dark
    background: $dark-color
    color: $light-color
    
    > h1
        margin-bottom: 2.5rem
        font-weight: 400
        text-align: center
        color: $light-color


.light
    background: $light-color
    color: #333

    > h1
        margin-bottom: 2.5rem
        font-weight: 400
        text-align: center
        color: #333

.darker
    background: $dark-color1
    color: $light-color
    
    > h1
        margin-bottom: 2.5rem
        font-weight: 400
        text-align: center
        color: $light-color
