$daisy: #fffe7a
$background-color1: #1B4D3E
$background-color2: #02aab0

// about    
$lightCyan: #59ebf0
$specialColor: #02aab0
$specialColor1: #03767a
$specialColor2: #1B4D3E
$specialColor3: #45a085

    
//  NEW  NAMES
$light-color: #e5e5e5
$light-color: #fff

$dark-color: #02aab0
$dark-color1: #075E61

$dark-color11: #003F43
//
$dark-color3: #003F43
$dark-color4: #969696

$darkest-color: #002022

//  EVERYTHING ABOVE WAS PASTED IN .../SASSY/_COLORS.SASS