


.button_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin: 1%;

    
    border: 2px solid orange;
    border: 0px solid orange;
}



.link_google{
    
    text-align: center;
    background-color: black;
    color: white;
    padding: 1em;
    text-decoration: none;
    border-radius: 5px;
    margin: 1%;
}

.link_google:hover{
    background: #02aab0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}


.black_border{
    border: 0px solid black;
}

.black_border:hover{
    background: #595a5a;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;

}

.spanDrive{
    font-size: 1.2em;
    font-weight: 600;
}



.btnHeader{
    position: relative;
    background: black;
    color: white;
    border: 0px;
    padding: 1em;
    padding-right: 3em;
    padding-left: 3em;
    font-size: 1rem;
    align-self: left;

    width: fit-content;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    }


    .btnHeader :hover{
        background: #02aab0;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
    }

  



