.myColors{
    background: #1B4D3E;
    background: #02aab0;

    background: black;
    background: black;
    background: black;
    background: black;
    background: black;
    background: black;
    background: black;
}
