
$lightCyan: #02aab0
$specialColor: #02aab0

//---------------------------------------------  HEADER

#myHeader
    display: flex
    width: 100%
    min-height: 100vh
    height: auto
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 0

#columnHeader
    display: flex
    flex-direction: column
    min-height: 96%
    margin: 1%
    padding: 1%
    align-items: center

    > p
        position: relative
        font-family: 'Montserrat', sans-serif
        font-size: 2.5rem
        text-align: left
        margin: 0rem
        align-self: left
        padding: 0rem
        font-weight: 500

        > button
            cursor: pointer
            background: black
            color: white
            border: 0px
            padding: 1em 3em
            font-size: 1rem

            transition: all 0.2s ease-out
            -webkit-transition: all 0.2s ease-out
            -moz-transition: all 0.2s ease-out
            -ms-transition: all 0.2s ease-out
            -o-transition: all 0.2s ease-out

            &:hover
                background: #02aab0
                // opacity: 0.8

                transition: all 0.2s ease-in-out
                -webkit-transition: all 0.2s ease-out
                -moz-transition: all 0.2s ease-out
                -ms-transition: all 0.2s ease-out
                -o-transition: all 0.2s ease-out


