#myHeader{
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.special_color{
    color: #1B4D3E;
    color: #02aab0;
    
}

.header-title{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    text-align: left;
    margin:0em;
    align-self: left;
    padding: 0%;
    font-weight: 500;
    line-height: 1.2;
}

  .header-title button{
    cursor: pointer;
    background: #1B4D3E;
    background: black;
    color: white;
    border: 0px;
    padding: 1em 3em;
    font-size: 1rem;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
  }
  
  .header-title button:hover{
    background: #02aab0;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;    
  }



.Section{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    min-width: 40%;
    margin: 2em 0 2em 0;
    align-items: center;

}


.section_column{
    display: flex;
    flex-direction: column;
    min-height: 96%;
    margin: 1%;
    padding: 1%;
    align-items: center;
}



.section_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    text-align: center;
}

