$specialColor: #02aab0
$lightCyan: #59ebf0

#nav1
    position: fixed
    top: 10vh
    bottom: 10vh
    right: 20px
    display: flex
    flex-direction: column
    width: fit-content
    height: 80vh
    //border: 1px solid #063a2a
    justify-content: space-evenly
    //justify-content: top

    //background-color:  #21ad83
    opacity: 0.9
    z-index: 2

    transition: all 1s ease-in
    -webkit-transition: all 1s ease-in
    -moz-transition: all 1s ease-in
    -ms-transition: all 1s ease-in
    -o-transition: all 1s ease-in

    > button

        color: #fff
        background-color: #000000
        //border: 1px solid #063a2a
        border: 1px solid #000000
        opacity: .6
        font-size: .9rem
        margin: .0rem
        margin-bottom: .5rem
        cursor: pointer
        font-family: 'Roboto'
        // padding: .4rem .8rem
        padding: 1rem 1.7rem
        transition: all .2s ease-in
        -webkit-transition: all .2s ease-in
        -moz-transition: all .2s ease-in
        -ms-transition: all .2s ease-in
        -o-transition: all .2s ease-in

        &:hover
            opacity: 1
            transform: scale(1.2)
            transition: all .2s ease-in
            -webkit-transition: all .2s ease-in
            -moz-transition: all .2s ease-in
            -ms-transition: all .2s ease-in
            -o-transition: all .2s ease-in

#navInfo
    width: 120px
    margin: 2rem auto 2rem auto
    opacity: .7

    &:hover
        cursor: pointer
        opacity: .9

