

#Projects{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    color: #1B4D3E;
}

.projectRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    min-width: 40%;
    margin: 2em 0 2em 0;
    align-items: center;
}


.projectColumn{
    display: flex;
    flex-direction: column;
    min-height: 96%;
    margin: 1%;
    padding: 1%;
    align-items: center;
}


#Projects h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    text-align: center;
}


#Projects p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: left;
    font-weight: 400;
    line-height: 1.5em;
    width: 400px;
}


.project_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
}


.project_description{
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    text-align: left;
    font-weight: 400;
    line-height: 1.5em;
    width: 400px;
    
}


.project_caption{
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    text-align: left;
    margin: 1%;
    font-weight: 400;
    line-height: 1.2em;
    width: 600px;
}




.section_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    min-width: 40%;
    margin: 2em 0 2em 0;
    align-items: center;

}


.section_column{
    display: flex;
    flex-direction: column;
    min-height: 96%;
    margin: 1%;
    padding: 1%;
    align-items: center;
}



.section_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    text-align: center;
}



















.button_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin: 1%;

    
    border: 2px solid orange;
    border: 0px solid orange;
}



.link_google{
    
    text-align: center;
    background-color: black;
    color: white;
    padding: 1em;
    text-decoration: none;
    border-radius: 5px;
    margin: 1%;
}

.link_google:hover{
    background: #02aab0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}


.black_border{
    border: 0px solid black;
}

.black_border:hover{
    background: #595a5a;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;

}

.spanDrive{
    font-size: 1.2em;
    font-weight: 600;
}



.btnHeader{
    position: relative;
    background: black;
    color: white;
    border: 0px;
    padding: 1em;
    padding-right: 3em;
    padding-left: 3em;
    font-size: 1rem;
    align-self: left;

    width: fit-content;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    }


    .btnHeader :hover{
        background: #02aab0;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
    }

  











  