.projectRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-width: 40%;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectColumnLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 96%;
  margin: 5px;
  margin-right: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  max-width: 600PX;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.projectColumnImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 96%;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  width: 40%;
}

.projectTitle {
  font-family: Roboto;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  width: 100%;
  padding: .2rem;
  margin: .2rem;
  margin-top: .5rem;
}

.projectOverview {
  font-family: Roboto;
  font-size: .7rem;
  line-height: 1rem;
  text-align: left;
  font-weight: 500;
  width: 100%;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.read-or-hide {
  color: #387f99;
  cursor: pointer;
  opacity: .7;
  padding: .2rem .4rem;
  font-size: .7rem;
  font-weight: 600;
  font-style: italic;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.read-or-hide:hover {
  color: #fff;
  background-color: #0a576f;
  opacity: 1;
}

.projectTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: .2rem;
  padding: .2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 99%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectTags > label {
  font-size: .7rem;
  text-align: center;
  border-radius: 1rem;
  padding: 0.1rem .5rem;
  margin: .1rem .2rem;
  background: #14213d;
  font-weight: 400;
  color: #fff;
  font-family: Roboto;
}

.projectTags > label:hover {
  font-weight: 500;
  color: #fffe7a;
}

.projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 99%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectLinks > button {
  background: #e6e5e5;
  background: #21B0B0;
  opacity: .8;
  color: #333;
  color: #fff;
  border: 1px solid #2d3e50;
  padding: .2rem .8rem;
  cursor: pointer;
  margin: 0rem 0.2rem;
  font-family: Roboto;
  font-size: .7rem;
  border-radius: 0px;
  font-weight: 400;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.projectLinks > button:hover {
  background: #1B4D3E;
  background: #496481;
  background: #5b738d;
  background: #0c3048;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
/*# sourceMappingURL=project.css.map */