
#RecentProjects
    width: 100%
    min-height: 100vh
    height: auto

    padding-bottom: 2rem
    //height: auto
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    background: white
    color: #000000c6
    font-family: Roboto

    > h1
        color: #333
        font-weight: 400

.recentRow
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch
    min-width: 40%
    background: rgba(175, 34, 34, .8)


.recentCard
    width: 20rem
    height: auto
    margin: .5rem
    border: 0px solid grey
    background: #f0f0f0
    color: #333
    font-family: Roboto
    font-weigth: 300

.recentTitle
    text-align: center
    margin: .5rem
    color: #000
    font-weight: 300
    font-size: 1.6rem



.recentTags
    display: flex
    flex-direction: row
    padding: .1rem
    justify-content: flex-start
    width: 100%
    
    > label
        font-size: .7rem
        text-align: center
        padding: 0.1rem .5rem
        margin: .1rem
        //background: #14213d
        background: rgba(175, 34, 34, 1)
        opacity: .8
        font-weight: 400
        color: #fff
        font-family: Roboto

        &:hover
            cursor: pointer
            color: yellow
            font-size: .8rem
            font-weight: 500





.recentLinkButtons
    align-self: flex-end
    display: flex
    flex-direction: row
    padding: .2rem
    justify-content: flex-start
    width: 100%
    flex-wrap: wrap

    > button
        // background: rgb(230, 229, 229)
        background: #21B0B0
        opacity: .8
        color: #fff
        border: 1px solid #2d3e50
        padding: .1rem .33rem
        cursor: pointer
        margin: 0.1rem
        font-family: Roboto
        font-size: .7rem
        border-radius: 0px
        font-weight: 400
        transition: all 0.2s ease-out
        -webkit-transition: all 0.2s ease-out
        -moz-transition: all 0.2s ease-out
        -ms-transition: all 0.2s ease-out
        -o-transition: all 0.2s ease-out

        &:hover
            // background: #1B4D3E
            // background: #496481
            // background: #5b738d
            background: #0c3048

            color: #fff
            font-weight: 500

            //cursor: pointer
            transition: all 0.2s ease-in-out
            -webkit-transition: all 0.2s ease-out
            -moz-transition: all 0.2s ease-out
            -ms-transition: all 0.2s ease-out
            -o-transition: all 0.2s ease-out
