#RecentProjects {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #000000c6;
  -webkit-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  font-family: Roboto;
}

#RecentProjects > h1 {
  color: #333;
  font-weight: 400;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.recentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-width: 40%;
}

.recentCard {
  width: 20rem;
  height: auto;
  margin: .5rem;
  border: 0px solid grey;
  background: #f0f0f0;
  color: #333;
  font-family: Roboto;
  font-weigth: 300;
}

.recentTitle {
  text-align: center;
  margin: .5rem;
  color: #000;
  font-weight: 300;
  font-size: 1.6rem;
}

.recentTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.recentTags > label {
  font-size: .7rem;
  text-align: center;
  padding: 0.1rem .5rem;
  margin: .1rem;
  background: #af2222;
  opacity: .8;
  font-weight: 400;
  color: #fff;
  font-family: Roboto;
}

.recentTags > label:hover {
  cursor: pointer;
  color: yellow;
  font-size: .8rem;
  font-weight: 500;
}

.recentLinkButtons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recentLinkButtons > button {
  background: #21B0B0;
  opacity: .8;
  color: #fff;
  border: 1px solid #2d3e50;
  padding: .1rem .33rem;
  cursor: pointer;
  margin: 0.1rem;
  font-family: Roboto;
  font-size: .7rem;
  border-radius: 0px;
  font-weight: 400;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.recentLinkButtons > button:hover {
  background: #0c3048;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.table-edu-continuous {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  min-width: 100%;
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 2px solid #bfbfbf;
}

.table-edu-continuous th {
  text-align: left;
  border-bottom: 1px solid #bfbfbf;
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
}

.table-edu-continuous td {
  padding: .5rem .5rem;
}

.table-edu-continuous td img {
  width: 120px;
  height: 70px;
  border: '1px solid #333';
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.table-edu-continuous td img:hover {
  cursor: pointer;
  -webkit-transform: scale(3);
          transform: scale(3);
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
/*# sourceMappingURL=recent.css.map */