@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Lato&family=Open+Sans&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Josefin+Sans&family=Lato&family=Open+Sans&display=swap')

@import './_divSkills'
@import './_divLinks'

$totalWidth: 90%
$itemWidth: 90%
$leftMargin: 10%

$beforeBorder: #e45a10
$triangleLeft: #880e4f
$specialColor: #02aab0
$specialColor1: #03767a

$backgroundColor: #fff
$timelineColor: #333

// $circleBackground: #81d0f5 // 81d0f5, 83c2d5  
$circleBackground: #81d0f5 // 81d0f5, 83c2d5
$circleBorder: #333 //14213d 0b5970

$contentColor: #fff
//$_bacground_1: #edf9fe
$dateColor: #14213d

$light-grey: #f2f4f8
$dark-grey: #222

// $duration: 0.2s

// @mixin transition($duration) 
//     -webkit-transition: $duration
//     -moz-transition: $duration
//     -ms-transition: $duration
//     -o-transition: $duration
//     transition: $duration

// @include transition(.2s)

.time
    display: inline-block
    width: 100%
    font-size: 13px
    margin-bottom: 0px

.desc
    margin: 0

#MyTimeline
    width: 100%
    //min-height: 100vh
    height: auto
    display: flex
    flex-direction: column
    justify-content: center
    font-family: Roboto
    position: relative
    background-color: $backgroundColor
    margin-top: 1rem
    //margin-bottom: 2rem
    // padding-top: .5rem
    // padding-bottom: .5rem

    > h1
        color: #fff
        background-image: linear-gradient(to bottom, #03767a , #009297, #02aab0, #fff)
        font-weight: 400
        width: 100%
        text-align: center
        margin-top: 0rem
        margin-bottom: 2rem
        padding-top: 2rem
        padding-bottom: 4rem
        font-family: Roboto

.vertical
    position: relative
    width: $totalWidth
    left: 5%
    background-color: $backgroundColor

//.vertical:before
    //content: ""
    //position: absolute
    //width: 1px
    // background-color: $timelineColor
    //background-color: #e60808
    //top: 0
    //bottom: 0
    //left: $leftMargin
    //margin-left: 4px


// THE ACTUAL TIMELINE  ----------------------------------------------

.vertical:after
    content: ""
    position: absolute
    width: 1px
    background-color: #075e61
    background-color: #0d433f

    top: 0
    bottom: 0
    left: $leftMargin
    margin-left: 4px
    opacity: .5


.vertical .timelineItem
    width: $itemWidth
    padding: 0px 100px
    position: relative
    text-align: left


.vertical .timelineContent
    background-color: $contentColor
    padding: 0px
    font-family: Roboto
    font-size: .8rem
    display: flex
    flex-direction: row
    width: 100%
    margin-bottom: 4rem


// the DATE ----------------------------   wtf?
.vertical .timelineItem:before
    z-index: 1
    content: attr(content1)
    width: fit-content
    height: auto
    position: absolute
    top: 17px


// the CIRCLE -----------------------------------------------------------
.vertical .timelineItem::after
    z-index: 1
    content: ""
    position: absolute
    border-radius: 50%
    width: 12px
    height: 12px
    border: 2px solid #070c0a
    background-color: #02aab0
    border: 2px solid #0d433f
    background-color: #b8f1ee
    top: 22px


.vertical .timelineItem.right
    left: $leftMargin


// DATE
.vertical .timelineItem.right:before
    left: -100px
    border-width: 10px 0px 10px 0
    border-color: transparent $triangleLeft transparent transparent
    text-align: left
    width: fit-content

    font-size: 1rem
    font-weight: 500
    color: $dateColor
    opacity: 1
    color: #0d433f

.vertical .timelineItem.right::after
    left: -1px
    max-width: 30px
    border: 1px solid #075e61
