
$totalWidth: 90%
$itemWidth: 90%
$leftMargin: 10%

$beforeBorder: #e45a10
$triangleLeft: #880e4f
$specialColor: #02aab0

$backgroundColor: #fff
$timelineColor: #333

$circleBackground: #81d0f5 // 83c2d5
$circleBorder: #333 //14213d 0b5970

$contentColor: #fff
//$_bacground_1: #edf9fe
$dateColor: #14213d

.time
    display: inline-block
    width: 100%
    font-size: 14px
    margin-bottom: 0px

.title
    display: inline-block
    width: 100%
    font-size: 16px
    color: #000
    margin-top: 15px
    margin-bottom: 15px

    text-align: left
    font-family: Roboto

.desc
    margin: 0

// #eventDate
//     width: fit-content
//     margin-left: 100px
//     padding-top: 10px
//     color: #333
//     font-family: Roboto
//     font-size: 14px

//----------------------------

#MyTimeline
    width: 100%
    min-height: 100vh
    height: auto
    display: flex
    flex-direction: column
    justify-content: left
    align-items: left
    transition: ease-in
    transition-duration: 3s
    font-family: Roboto
    
    > h1
        color: #fff
        background-image: linear-gradient(to bottom, #009297, #02aab0, #fff)
        font-weight: 400
        width: 100%
        text-align: center
        margin-top: 0rem
        margin-bottom: 2rem
        padding-top: 2rem
        padding-bottom: 4rem
        font-family: Roboto





/*  VERTICAL  */

.vertical
    position: relative
    width: $totalWidth
    left: 5%
    //padding: 15px
    background-color: $backgroundColor

.vertical:after
    content: ""
    position: absolute
    width: 2px
    background-color: $timelineColor
    top: 0
    bottom: 0
    left: $leftMargin
    margin-left: 4px

.vertical .timelineItem
    width: $itemWidth
    //padding: 10px 45px
    padding: 0px 150px
    position: relative
    text-align: left

.vertical .timelineContent
    background-color: $contentColor
    padding: 0px
    color: #333
    font-family: Roboto
    font-size: 13px
    display: flex
    flex-direction: row
    //flex-direction: column
    width: 100%
    margin-bottom: 4rem

// Show date or year as "content1":
.vertical .timelineItem:before
    z-index: 1
    content: attr(content1)
    height: auto
    position: absolute
    top: 17px
    width: fit-content
    font-size: 14px
    font-weight: 500
    color: $dateColor
    opacity: 1

.vertical .timelineItem::after
    z-index: 1
    content: ""
    position: absolute
    width: 20px
    height: 20px
    background-color: $circleBackground
    border: 3px solid $circleBorder
    top: 19px
    border-radius: 50%

.vertical .timelineItem.right
    left: $leftMargin

.vertical .timelineItem.right:before
    left: 35px
    border-width: 10px 10px 10px 0
    border-color: transparent $triangleLeft transparent transparent

.vertical .timelineItem.right::after
    left: -5px
    max-width: 30px



 
//  @media screen and (max-width: 768px) 
//     .container:before 
//        left: 8px
//        width: 2px
    
//     .timeline-block 
//        width: 100%
//        margin-bottom: 30px
    
//     .timeline-block-right 
//        float: none
    
//     .timeline-block-left 
//        float: none
//        direction: ltr