@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Lato&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Josefin+Sans&family=Lato&family=Open+Sans&display=swap");
.time {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  margin-bottom: 0px;
}

.title {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}

.desc {
  margin: 0;
}

.eventType {
  color: #555;
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-size: .6rem;
  font-family: Courier New, Courier, monospace;
  font-weight: 300;
  text-transform: uppercase;
}

#MyTimeline {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  font-family: Roboto;
  position: relative;
  background-color: #fff;
}

#MyTimeline > h1 {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#03767a), color-stop(#009297), color-stop(#02aab0), to(#fff));
  background-image: linear-gradient(to bottom, #03767a, #009297, #02aab0, #fff);
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-family: Roboto;
}

.vertical {
  position: relative;
  width: 90%;
  left: 5%;
  background-color: #fff;
}

.vertical:after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #999;
  top: 0;
  bottom: 0;
  left: 10%;
  margin-left: 4px;
}

.vertical .timelineItem {
  width: 90%;
  padding: 0px 150px;
  position: relative;
  text-align: left;
}

.vertical .timelineContent {
  background-color: #fff;
  padding: 0px;
  font-family: Roboto;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 4rem;
}

.vertical .timelineItem:before {
  z-index: 1;
  content: attr(content1);
  height: auto;
  position: absolute;
  top: 17px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  color: #14213d;
  opacity: 1;
}

.vertical .timelineItem::after {
  z-index: 1;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid #999;
  background-color: #f2f4f8;
  top: 20px;
}

.vertical .timelineItem.right {
  left: 10%;
}

.vertical .timelineItem.right:before {
  left: 25px;
  border-width: 10px 0px 10px 0;
  border-color: transparent #880e4f transparent transparent;
  color: #555;
  text-align: left;
  width: 60px;
}

.vertical .timelineItem.right::after {
  left: -1px;
  max-width: 30px;
  border: 1px solid #333;
}
/*# sourceMappingURL=timeline.css.map */