
@import  "./_table_acronyms"
@import "../../styles/_colors.sass"
@import "../../styles/_fonts.sass"

#navInfo
    width: 120px
    margin-top: -6rem
    position: absolute
    padding: 1.1rem .5rem
    // border: 2px solid tomato

    &:hover
        cursor: pointer

#nav1
    position: fixed
    top: 7rem
    right: 8px
    // min-bottom: 9rem

    display: flex
    flex-direction: column
    max-width: 175px
    align-items: top
    padding-top: 0
    // background-color: tomato

    z-index: 2

    transition: all 1s ease-in
    -webkit-transition: all 1s ease-in
    -moz-transition: all 1s ease-in
    -ms-transition: all 1s ease-in
    -o-transition: all 1s ease-in

    &:last-child
        margin-bottom: 0

    > button
        border: 1px solid #070C0A
        margin-bottom: .1rem
        min-width: 150px
        width: 175px
        margin-left: auto
        margin-right: auto

        height: auto
        cursor: pointer
        word-wrap: break-word
        background-color: #396f5a82

        background-color: #fffffffe
        // color: #292929

        transition: all .2s ease-in
        -webkit-transition: all .2s ease-in
        -moz-transition: all .2s ease-in
        -ms-transition: all .2s ease-in
        -o-transition: all .2s ease-in

        // &:nth-child(6)
        //     margin-top: 15px

        // &:nth-child(9)
        //     margin-top: 15px

        &:hover
            opacity: 1
            color: #f7fa33
            color: #fac533
            color: #a7ffb1

            background-color: #396f5a

            transition: all .2s ease-in
            -webkit-transition: all .2s ease-in
            -moz-transition: all .2s ease-in
            -ms-transition: all .2s ease-in
            -o-transition: all .2s ease-in

.nav-buttons

    // > button
    //     border: 1px solid #070C0A
    //     margin-bottom: .1rem
    //     min-width: 150px
    //     width: 175px
    //     margin-left: auto
    //     margin-right: auto

    //     height: auto
    //     cursor: pointer
    //     word-wrap: break-word

    //     transition: all .2s ease-in
    //     -webkit-transition: all .2s ease-in
    //     -moz-transition: all .2s ease-in
    //     -ms-transition: all .2s ease-in
    //     -o-transition: all .2s ease-in

        // &:nth-child(2)
        //     margin-top: 1rem

        // &:nth-child(3)
        //     margin-top: 1rem

        // &:nth-child(6)
        //     margin-top: 1rem

        // &:nth-child(9)
        //     margin-top: 15px
    > button
        border: 1px solid #070C0A
        // margin-bottom: .1rem
        min-width: 150px
        width: 175px
        margin-left: auto
        margin-right: auto

        height: auto
        cursor: pointer
        word-wrap: break-word

        transition: all .2s ease-in
        -webkit-transition: all .2s ease-in
        -moz-transition: all .2s ease-in
        -ms-transition: all .2s ease-in
        -o-transition: all .2s ease-in

        &:hover
            opacity: 1
            color: #f7fa33
            color: #fac533

            transition: all .2s ease-in
            -webkit-transition: all .2s ease-in
            -moz-transition: all .2s ease-in
            -ms-transition: all .2s ease-in
            -o-transition: all .2s ease-in

.navRegular
    opacity: .7
    font-size: .8rem
    color: #ededed
    background-color: rgb(7, 12, 10)
    background-color: #070c0a

    padding: .5rem

    .green-font
        color: rgb(129, 205, 161)

.teaching
    font-family: $Atma

.navTimelineItem
    opacity: .7
    font-size: .7rem
    color: rgb(129, 205, 161)
    background-color: rgba(7, 12, 10, .75)
    padding: .2rem .1rem
    text-align: left
    padding-left: 1rem
    // font-style: italic
    margin-top: 0
    margin-bottom: 0

.navDemo
    opacity: .7
    background: transparent url("./demo_white_mouse_wider_icon.png") no-repeat right
    background-color: #070C0A
    color: #ededed
    padding: 1.1rem 2rem 1.1rem .5rem

.currentView
    opacity: 1
    color: $lightCyan
    color: #f7fa33
    border: 1px solid #f7fa33
    z-index: 0

.inactive
    opacity: .7
    color: #ededed
    border: 1px solid #070C0A
    z-index: 1

    &:hover
        opacity: 1
        color: #fac533

        transition: all .2s ease-in
        -webkit-transition: all .2s ease-in
        -moz-transition: all .2s ease-in
        -ms-transition: all .2s ease-in
        -o-transition: all .2s ease-in
