@import "../../styles/_colors.sass"

#About
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    background-color: $blue-charcoal

    > h1
        margin: auto
        margin-bottom: 2rem
        text-align: center
        color: #e5e5e5
        font-family: Montserrat

.about-wrapper
    display: flex
    flex-direction: row
    justify-content: center
    margin: auto
    margin-top: 2rem
    min-width: 24rem
    max-width: 50rem

    @media (max-width: 800px)
        flex-direction: column

    .div-picture
        max-width: 19rem
        margin: auto

        img
            width: 100%
            min-width: 14rem
            border-radius: 5px
            // margin: auto

.about-column
    display: flex
    flex-direction: column
    color: #aaa
    max-width: 26rem
    min-width: 14rem
    font-size: .9rem
    margin: auto
    margin-left: 2rem

    .narrative
        text-align: justify
        // text-justify: inter-character
        font-family: Roboto
        margin-bottom: 1rem
        max-width: 100%
        // font-size: .85rem

    .div-tech
        display: flex
        flex-direction: row
        flex-wrap: wrap
        margin: 1rem auto 0 auto
        max-width: 27rem
        min-width: 14rem

        label
            font-family: Roboto
            font-size: .8rem
            text-align: center
            padding: .2rem .5rem
            margin: .2rem
            margin-left: 0
            border-radius: 5px
            border: 1px solid rgba(50, 50, 50, 0.99)
            box-shadow: inset -1px -1px 3px #00000090
