@import "../../styles/_colors.sass"

#About
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    background-color: $blue-charcoal

    > h1
        margin: auto
        margin-bottom: 2rem
        text-align: center
        color: #e5e5e5

.about-wrapper
    display: flex
    flex-direction: row
    justify-content: center
    margin: auto
    // margin-top: 2rem
    // min-width: 24rem
    // max-width: 50rem

    @media (max-width: 800px)
        flex-direction: column

    .div-picture
        // width: 30%
        margin: auto

        img
            width: 100%
            min-width: 14rem
            border-radius: 5px
            border: 1px solid #6d717a

        table
            color: #aaa
            font-size: .8rem
            // border: 1px solid red
            width: 100%
            margin-top: .5rem

            th
                width: 25%
                font-weight: 400
            td
                font-size: .7rem

.about-column
    display: flex
    flex-direction: column
    color: #aaa
    margin: auto
    margin-left: 2rem
    // width: 70%

    .narrative
        margin-bottom: 1rem
        font-size: 1rem
        width: 500px

    .div-tech
        display: flex
        flex-direction: row
        flex-wrap: wrap
        margin: 1rem auto 0 auto
        max-width: 27rem
        min-width: 14rem

        label
            font-size: .8rem
            text-align: center
            padding: .2rem .5rem
            margin: .2rem
            margin-left: 0
            border-radius: 5px
            border: 1px solid rgba(50, 50, 50, 0.99)
            box-shadow: inset -1px -1px 3px #00000090
